# To create this file use:
# mtree -c -d -i -n -k uname,gname,mode,nochange -p /var > BSD.var.dist
#
# Part of XigmaNAS® (https://www.xigmanas.com).
# Copyright © 2018-2025 XigmaNAS® <info@xigmanas.com>.
# All rights reserved.
#

/set type=dir uname=root gname=wheel mode=0755
.              
    ..
/set mode=0750
    backups
    ..
    cron           
        tabs           
        ..
    ..
/set mode=0755
    db             
        pkg
        ..
        ports
        ..
        xen
            xenpaging
            ..
        ..
        xenstored
        ..
    ..
    empty           mode=0555
    ..
    etc            
        iscsi          
        ..
        netatalk       
        ..
        private        
        ..
        ssh            
        ..
        ssl            
            private        
            ..
        ..
    ..
    log            
        samba4         
        ..
        xen
        ..
    ..
    mount          
    ..
    run            
        wpa_supplicant
        ..
        xen
        ..
    ..
    spool          
        lock           
        ..
    ..
    tmp             mode=01777
    ..
    xen
        dump
        ..
    ..
..
