/*
	fc.css

	Part of XigmaNAS® (https://www.xigmanas.com).
	Copyright © 2018-2025 XigmaNAS® <info@xigmanas.com>.
	All rights reserved.

	Redistribution and use in source and binary forms, with or without
	modification, are permitted provided that the following conditions are met:

	1. Redistributions of source code must retain the above copyright notice, this
	   list of conditions and the following disclaimer.

	2. Redistributions in binary form must reproduce the above copyright notice,
	   this list of conditions and the following disclaimer in the documentation
	   and/or other materials provided with the distribution.

	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
	WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
	DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
	ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
	(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
	LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
	ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
	(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
	SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

	The views and conclusions contained in the software and documentation are those
	of the authors and should not be interpreted as representing official policies
	of XigmaNAS®, either expressed or implied.
*/

.filechooser
{
	margin: 0px;
	padding: 0px;
}

.filechooser table
{
	width: 100%;
}

.filechooser td
{
/*
	padding: 10px;
	vertical-align: top;
*/
}

.filechooser .filelist table
{
	width: 100%;
}

.filechooser .filelist table tr td
{
	padding: 1px;
}

.filechooser .filelist table tr.fr_odd td,
.filechooser .filelist table tr.fr_even td,
.filechooser .filelist table tr.fl_odd td,
.filechooser .filelist table tr.fl_even td
{
	border-bottom: 1px solid #ddd;
	border-bottom: var(--bop-cell);
}

.filechooser .filelist table tr.fr_odd td,
.filechooser .filelist table tr.fl_odd td
{
}

.filechooser .filelist a
{
	text-decoration: none;
}

.filechooser .filelist a:hover
{
	text-decoration: underline;
}

/* sorting row */
.filechooser .filelist table tr.sort td
{
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.filechooser .filelist table tr.sort a
{
	text-decoration: none;
	color: #9d9d9d;
}

.filechooser .filelist table tr.sort a:hover
{
	text-decoration: underline;
}

/* parent row */
.filechooser .filelist table tr.parent
{
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filechooser .filelist table tr.parent td
{
	border-bottom: 1px solid #eee;
	color: #ffffff;
	background: #435370 url("/images/listtopic_bg.png");
}

.filechooser .filelist table tr.parent a
{
	text-decoration: none;
	color: #ffffff;
}

.filechooser .filelist table tr.parent a:hover
{
	text-decoration: underline;
}

/* filelist rows */
/* line number column */
.filechooser .filelist table tr td.ln
{
	border-left: 1px solid #eee;
	border-left: var(--bop-cell);
	font-weight: normal;
	text-align: right;
	padding: 0 10px;
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* filename column */
.filechooser .filelist table tr.fr_odd td.nm,
.filechooser .filelist table tr.fr_even td.nm
{
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filechooser .filelist table tr.fl_odd td.nm,
.filechooser .filelist table tr.fl_even td.nm
{
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* size column */
.filechooser .filelist table tr td.sz
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* type column */
.filechooser .filelist table tr td.tp
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* date column */
.filechooser .filelist table tr td.dt
{
	border-right: 1px solid #eee;
	border-right: var(--bop-cell);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* footer row */
.filechooser .filelist table tr.footer td
{
	border: 0;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Navigation bar */
.filechooser .navbar
{
	padding: 6px 9px;
	text-align: left;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-spacing: 0;
	height: 40px
}

.filechooser .navbar .input
{
	width: 100%;
	top: 6px;
	left: 9px;
}

.filechooser .navbar .button
{
	position: relative;
	float: left;
}

.filechooser .infobar
{
	height: 100px;
}
